* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #EAEDED;
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.contenedor {
    margin: auto;
    width: 80%;
    max-width: 1200px;
}

main article {
    background: #fff;
    margin: 20px 0;
    padding: 20px;
    height: 1000px;
}

/**** Enlaces del NAV ****/

.menu {
    background: #232F3E;
    padding: 5px 0;
    /* margin-bottom: 20px; */
}

.menu .contenedor-botones-menu {
    display: none;
    justify-content: space-between;
}

.menu .contenedor-botones-menu button {
    font-size: 20px;
    color: #fff;
    padding: 10px 20px;
    border: 1px solid transparent;
    display: inline-block;
    cursor: pointer;
    background: none;
}

.menu .contenedor-botones-menu button:hover {
    border: 1px solid rgba(255, 255, 255, .4);
}

.menu .contenedor-botones-menu .btn-menu-cerrar {
    display: none;
}

.menu .contenedor-botones-menu .btn-menu-cerrar.activo {
    display: inline-block;
}
.menu .contenedor-botones-menu .logo-menu {
    color: #ccc;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 10px;
    /* font-size: 14px; */
    transition: all 0.3s ease-in;
    display: inline;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, .4);
}
.menu .contenedor-botones-menu .logo-menu img {
    position: relative;
    top: 3px;
    height: 22px;
}

.menu .contenedor-enlaces-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu .btn-departamentos {
    color: #fff;
    padding: 7px;
    border-radius: 3px;
    display: flex;
    align-items: flex-end;
    border: 1px solid transparent;
    font-size: 12px;
    cursor: default;
}

.menu .btn-departamentos i {
    margin-left: 20px;
    position: relative;
    bottom: 3px;
}

.menu .btn-departamentos:hover {
    border: 1px solid rgba(255, 255, 255, .4);
}

.menu .btn-departamentos span {
    display: block;
    font-size: 14px;
    font-weight: bold;
}

.menu .contenedor-enlaces-nav .enlaces .enlaces_nav,
.menu .contenedor-enlaces-nav .enlaces .logo {
    color: #ccc;
    border: 1px solid transparent;
    padding: 7px;
    border-radius: 3px;
    font-size: 14px;
    transition: all 0.3s ease-in;
}

.menu .contenedor-enlaces-nav .enlaces .enlaces_nav:hover {
    border: 1px solid rgba(255, 255, 255, .4);
    background: #ccc;
    color: #232F3E;
}

.menu .contenedor-enlaces-nav .enlaces .logo {
    display: inline;
    font-size: 18px;
    border: 1px solid rgba(255, 255, 255, .4);
}

.menu .contenedor-enlaces-nav .enlaces .logo img {
    position: relative;
    top: 3px;
    height: 22px;
}



/**** GRID ****/
.contenedor-grid {
    position: relative;
}

.grid {
    width: 100%;
    display: none;
    position: absolute;
    top: 5px;
    z-index: 1000;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas: "categorias subcategorias subcategorias subcategorias";
}

.grid.activo {
    display: grid;
}

.grid::before {
    content: "";
    display: block;
    background: transparent;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    top: -5px;
    left: 65px;
}

.grid>div {
    background: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, .10);
}

/**** Categorias ****/

.grid .btn-regresar {
    background: #232F3E;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 3px;
    margin: 20px;
    font-size: 16px;
    cursor: pointer;
    display: none;
}

.grid .btn-regresar i {
    margin-right: 10px;
}

.grid .categorias {
    grid-area: categorias;
    padding-top: 10px;
    min-height: 300px;
    overflow: auto;
}

/* .grid .categorias .subtitulo {
    display: none;
} */

.grid .categorias a {
    color: #000;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.grid .categorias a i {
    display: none;
}

.grid .categorias a:hover {
    font-weight: bold;
    color: #E47911;
}

.grid .categorias a:hover i {
    display: inline-block;
}

/**** SUBCATEGORIAS ****/

.grid .contenedor-subcategorias {
    grid-area: subcategorias;
}

.grid .subcategoria {
    display: none;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
}

.grid .subcategoria.activo {
    display: grid;
}

.grid .subcategoria img {
    width: 100%;
    vertical-align: top;
    height: 100%;
    object-fit: cover;
}

.grid .enlaces-subcategoria {
    padding-top: 10px;
    height: 100%;
    max-height: 300px;
    overflow: auto;
}

.grid .enlaces-subcategoria a {
    color: #000;
    display: block;
    font-size: 14px;
    padding: 10px 20px;
}

.grid .enlaces-subcategoria a:hover {
    color: #E47911;
}

.grid .subtitulo {
    font-size: 18px;
    font-weight: normal;
    color: #E47911;
    padding: 10px 20px;
}

.grid .banner-subcategoria a {
    display: block;
    height: 100%;
}

.grid .galeria-subcategoria {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
}

.grid .galeria-subcategoria a {
    width: 50%;
    height: 50%;
}

/************ HERO SLIDER ************/


/**** MEDIAQUIERIES ****/

@media screen and (max-width: 1000px) {
    .menu .contenedor-enlaces-nav {
        padding: 0 10px;
    }

    .menu .contenedor {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .menu .contenedor {
        width: 90%;
    }

    .menu .contenedor-botones-menu {
        display: flex;
    }

    .menu .contenedor-enlaces-nav {
        padding: 20px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        left: 0;
        background: #232F3E;
        height: 100vh;
        width: 80%;
        z-index: 2000;
        transition: .3s ease all;
        transform: translate(-100%);
    }

    .menu .contenedor-enlaces-nav.activo {
        transform: translate(0%);
    }

    .menu .btn-departamentos {
        width: 100%;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;
    }

    .menu .btn-departamentos i {
        position: static;
        margin-left: 20px;
        transform: rotate(-90deg);
    }

    .menu .enlaces {
        width: 100%;
    }

    .menu .enlaces a {
        display: block;
        margin: 10px 0;
        padding: 10px;
    }

    .grid {
        display: grid;
        transition: .3s ease all;
        transform: translate(-100%);
        z-index: 3000;
        width: 80%;
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        grid-template-areas: "categorias categorias categorias categorias";
    }

    .grid.activo {
        transform: translate(0%);
    }

    .grid::before {
        display: none;
    }

    .grid .btn-regresar {
        display: inline-block;
    }

    .grid .contenedor-subcategorias {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: .3s ease all;
        overflow: auto;
    }

    .grid .contenedor-subcategorias.activo {
        transform: translateX(0);
    }

    .grid .contenedor-subcategorias .subcategoria {
        grid-template-columns: 1fr;
    }

    .grid .contenedor-subcategorias .banner-subcategoria {
        width: 100%;
        min-height: 250px;
        max-height: 350px;
    }

    .grid .enlaces-subcategoria {
        min-height: 50vh;
        overflow: auto;
    }

    .grid .contenedor-subcategorias .galeria-subcategoria a {
        width: 25%;
        height: 100%;
    }
}

/* Banner */

.hero {
    position: relative;
    width: 100%;
    height: calc(100vh - 62px);
}

.hero .img-hero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.hero .img-hero img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: 0.5s;
    background-position: center;
}

.hero .img-hero img.active {
    opacity: 1;
}

.controles {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    width: 80px;
}
.controles li {
    position: relative;
    width: 80px;
    height: 80px;
    background: rgb(255, 255, 255, 0.4);
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.controles li:hover {
    background: rgb(228, 121, 17, 0.4);
}

.controles li::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-left: 3px solid #111;
    border-bottom: 3px solid #111;
    transform: rotate(45deg);
}

.controles li:nth-child(2)::before {
    transform: rotate(225deg);
}

.content-hero {
    position: absolute;
    bottom: 0;
    max-width: 55%;
}

.content-hero div {
    display: none;
}

.content-hero div.active {
    display: block;
    padding: 20px 30px 70px 100px;
    background: rgba(0, 0, 0, 0.4);
}

.content-hero div h2 {
    color: #fff;
    font-size: 2em;
}

.content-hero div p {
    color: #fff;
    font-size: 1.1em;
}

.content-hero div a {
    color: #fff;
    font-size: 1.1em;
    display: inline-block;
    padding: 10px 30px;
    background: #E47911;
    margin-top: 10px;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    border-radius: 12px;
    border: 1px solid #E47911;
    transition: 0.6s;

}

@media screen and (max-width: 1000px) {
    .content-hero div.active {
        padding-left: 80px;
    }
    .content-hero div h2 {
        font-size: 1.8em;
    }
    .content-hero div p {
        font-size: 1em;
    }
    .content-hero div a {
        font-size: 1em;
    }
    .content-hero {
        max-width: 60%;
    }
}

@media screen and (max-width: 800px) {
    .content-hero {
        max-width: 80%;
    }
    .content-hero div.active {
        padding-left: 60px;
    }
    .controles {
        width: 60px;
    }
    .controles li {
        width: 60px;
        height: 60px;
    }
}

@media screen and (max-width: 600px) {
    .content-hero {
        max-width: 100%;
    }
}
@media screen and (max-width: 400px) {
    .content-hero div.active {
        padding-left: 25px;
    }
    .content-hero div h2 {
        font-size: 1.5em;
    }
    .content-hero div p {
        font-size: 0.8em;
    }
    .content-hero div a {
        font-size: 0.8em;
    }
    .controles {
        width: 50px;
    }
    .controles li {
        width: 50px;
        height: 50px;
    }
    
}
